@model IEnumerable<FootballClubLibrary.Models.Pilkarz>
<h1>Piłkarze</h1>

@if (Model.Count() > 0)
{
    <table id="table" class="table table-striped table-dark table-bordered table-hover table-sm">
        <thead>
            <tr class="name-of-headers">
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
                <th>Pozycja</th>
                <th>Wynagrodzenie</th>
                <th>IdKlubu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pilkarz in Model)
            {
                <tr>
                    <td>@pilkarz.Imie</td>
                    <td>@pilkarz.Nazwisko</td>
                    <td>@pilkarz.Wiek</td>
                    <td>@pilkarz.Pozycja</td>
                    <td>@pilkarz.Wynagrodzenie</td>
                    <td>@pilkarz.IdKlubu</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak piłkarzy!</p>
}