@model FootballClubLibrary.Models.Zarzad

@{
    ViewData["Title"] = "Details";
    CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");
    CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo("en-US");
}

<h1>Szczegóły zarządu</h1>

<div>
    <hr />

    <a id="nazwa">IdZarządu:</a> @Model.IdZarzad
    
    <br />

    <a id="nazwa">Nazwa klubu:</a> @Model.Klub.Nazwa
    
    <br />

    <div>
        <a id="nazwa">Pracownicy:</a>
        @if (@Model.Pracownicy != null)
        {
            <ul>
                @foreach (var pracownik in Model.Pracownicy)
                {
                    <li>@pracownik.Imie @pracownik.Nazwisko</li>
                }
            </ul>
        }
        else
        {
            <a>Brak pracowników</a>
        }
    </div>

    <a id="nazwa">Budzet:</a> @Model.Budzet.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)
    
    <br />

    <a id="nazwa">Cele:</a> @Model.Cele

    <br /><hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZarzad">Edytuj zarząd</a> |
    <a asp-action="DodajCzlonkaZarzadu" asp-route-id="@Model?.IdZarzad">Dodaj członka do zarządu</a> |
    <a asp-action="Index">Wróć do listy zarządów</a>
</div>